@model IEnumerable<MVCWebApp.Models.Person>

@{
    ViewData["Title"] = "Loaners";
}

<h1>List of loaners</h1>

<div class="text-center">
    <h1 class="display-4">Loaner</h1>
    <hr />
</div>
<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Loaner ID</th>
            <th>Loan Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelPerson => person.ID)</td>
                <td>@Html.DisplayFor(modelPerson => person.FirstName)</td>
                <td>@Html.DisplayFor(modelPerson => person.LastName)</td>
                <td>@Html.DisplayFor(modelPerson => person.Email)</td>
                <td>@Html.DisplayFor(modelPerson => person.PhoneNum)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = person.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = person.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = person.ID })
                </td>
            </tr>
        }
    </tbody>
    <tr>@Html.ActionLink("Add New Person Entry", "Create", new { })</tr>
</table>
