@model MVCWebApp.Models.Item

@{ 
    Layout = "_Layout";
}

<h1>New Item Entry</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(x => x.ID)
            @Html.TextBoxFor(x => x.ID)
        </p>
        <p>
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
        </p>
        <p>
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description)
        </p>
        <p>
            @Html.LabelFor(x => x.Cost)
            @Html.EditorFor(x => x.Cost)
        </p>
        <p>
            @Html.LabelFor(x => x.DepreciationRate)
            @Html.EditorFor(x => x.DepreciationRate)
        </p>

        <p>
            <button type="submit">Add Item</button>
        </p>
    }
</fieldset>