@model IEnumerable<MVCWebApp.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<h1>List of items</h1>

<div class="text-center">
    <h1 class="display-4">Item</h1>
    <hr />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                <td>
                    <!--@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |-->
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
    <tr>@Html.ActionLink("Add New Item Entry", "Create", new { })</tr>
</table>
