@model MVCWebApp.Models.Item

@{
    ViewData["Title"] = "Items";
}

<h1>List of items</h1>

<div class="text-center">
    <h1 class="display-4">Item</h1>
    <hr />
</div>
<div>
    <dl>
        <dt>Item ID: @Model.ID</dt>
        <dt>Name: @Model.Name</dt>
        <dt>Description: @Model.Description</dt>
        <dt>Cost: @Model.Cost</dt>
        <dt>Depreciation Rate: @Model.DepreciationRate</dt>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {})
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @Html.ActionLink("Add New Item Entry", "Create", new {})
</div>
